@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --secondary-background: #28282b;
  --text: #f5f5f7;
  --highlight: #0071e3;
  --secondary-highlight: #c65bdc;
  --tertiary-highlight: #4b5563;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  cursor: default;
  line-height: 1.5;
  letter-spacing: 2px;
  height: 100%;
}

/* Fix for mobile hamburger dropdown in landscape view */
@media screen and (max-height: 420px) and (orientation: landscape) {
  .hamburger-menu {
    padding-top: 3.75rem;
    padding-bottom: 1.5rem;
    justify-content: flex-start;
  }
  .hero-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

#hero,
#footer {
  background: radial-gradient(circle, var(--secondary-background), var(--background));
}

#projects-page,
#project-slug-page,
#projects,
#about,
#skills,
#contact {
  background: linear-gradient(
    90deg,
    var(--background),
    var(--secondary-background),
    var(--background)
  );
}

/* Hero subtext outline */
.text-outline {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--text);
}

/* Hero text shine effect */
@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shine {
  animation: shine linear infinite;
}

/* Tech carousel effect */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1400px);
  }
}

.animate-scroll {
  animation: scroll 23.3s linear infinite;
}

/* Animation time */
/* distance = min width (200px) * number of items in map (7) */
/* Duration = distance answer (1400px) / speed of px a sec (60) = duration for aniamtion time */
