@import "tailwindcss";

:root {
  --background: #191919;
  --secondary-background: #232323;
  --text: white;
  --keyboard-focus: #0071e3;
  --highlight: #4b5563;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  cursor: default;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text, #f5f5f7);
  background-color: var(--background, #191919);
  letter-spacing: 0.25px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Fix for mobile hamburger dropdown in landscape view */
@media screen and (max-height: 420px) and (orientation: landscape) {
  .hamburger-menu {
    padding-top: 3.75rem;
    padding-bottom: 1.5rem;
    justify-content: flex-start;
  }
  .hero-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* #hero-section {
  background: radial-gradient(circle, var(--tertiary-background), var(--background));
  z-index: -10;
} */

#about-section,
#skills-section {
  background: radial-gradient(circle, var(--secondary-background), var(--background));
}

#hero-section,
#projects-section,
#contact-section {
  background: radial-gradient(circle, var(--background), var(--secondary-background));
}

#footer-section {
  background-color: var(--secondary-background, #232323);
}

/* #skills-section,
#footer-section {
  background-color: var(--secondary-background, #191919);
} */

/* #hero-section,
#projects-section,
#contact-section,
#footer-section,
#not-found {
  background: radial-gradient(circle, var(--secondary-background), var(--background));
} */

/* #projects-page,
#project-slug-page,
#about,
#skills {
  background: linear-gradient(
    90deg,
    var(--background),
    var(--secondary-background),
    var(--background),
    var(--background),
    var(--background),
    var(--secondary-background),
    var(--background)
  );
} */

/* Hero subtext outline */
.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text);
}

/* Hero text shine effect */
@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shine {
  animation: shine linear infinite;
}

/* Tech carousel effect */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3675px);
  }
}

.animate-scroll {
  animation: scroll 61.25s linear infinite;
}

/* Animation time */
/* distance = min width (200px) * number of items in map (7) */
/* Duration = distance answer (1400px) / speed of px a sec (60) = duration for aniamtion time */

#hero-background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3cpath d='M13 250L263 0L458 0L208 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M243.60000000000002 250L493.6 0L831.1 0L581.1 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M481.20000000000005 250L731.2 0L1086.7 0L836.7 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M728.8000000000001 250L978.8000000000001 0L1296.8000000000002 0L1046.8000000000002 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M1439 250L1189 0L983.5 0L1233.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M1196.4 250L946.4000000000001 0L656.9000000000001 0L906.9000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M958.8 250L708.8 0L603.8 0L853.8 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M680.1999999999999 250L430.19999999999993 0L268.19999999999993 0L518.1999999999999 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M1301.5555388121247 250L1440 111.55553881212472L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L138.44446118787528 250L 0 111.55553881212472z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='rgba(75%2c 85%2c 99%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(75%2c 85%2c 99%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='rgba(75%2c 85%2c 99%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(75%2c 85%2c 99%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
