@import "tailwindcss";

:root {
  --background: #121013;
  --secondary-background: #110f12;
  --card-background: #171717;
  --text: #ffffff;
  --secondary-text: #d4d4d4;
  --keyboard-focus: #0071e3;
  --highlight: #4b5563;
  --border-color: #171717;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  cursor: default;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text, #f5f5f7);
  /* background: radial-gradient(circle, var(--secondary-background), var(--background)); */
  background-color: var(--background);
  letter-spacing: 0.25px;
  box-sizing: border-box;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Fix for mobile hamburger dropdown in landscape view */
@media screen and (max-height: 420px) and (orientation: landscape) {
  .hamburger-menu {
    padding-top: 3.75rem;
    padding-bottom: 1.5rem;
    justify-content: flex-start;
  }
  .hero-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* Page backgrounds */

/* #hero-section {
  background: radial-gradient(circle, var(--background), #1e3a8a);
} */

#about-section,
#skills-section {
  background: var(--secondary-background);
}

/* Hero subtext outline */
.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text);
}

.shiny-text {
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.tiny-text {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

/* Hero text shine effect */
@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shine {
  animation: shine linear infinite;
}

/* Tech carousel effect */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1656px);
  }
}

.animate-scroll {
  animation: scroll 27.6s linear infinite;
}

/* Animation time */
/* distance = min width (200px) * number of items in map (7) */
/* Duration = distance answer (1400px) / speed of px a sec (60) = duration for aniamtion time */

#projects-page-background,
#slug-page-background,
#contact-page-background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3cpath d='M1440 0L854.44 0L1440 269.29z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M854.44 0L1440 269.29L1440 406.33000000000004L725.3000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M725.3000000000001 0L1440 406.33000000000004L1440 438.99L490.7900000000001 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M490.7900000000001 0L1440 438.99L1440 457.87L373.43000000000006 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L717.76 560L0 284.98z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 284.98L717.76 560L830.01 560L0 177.93z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 177.93L830.01 560L924.3 560L0 158.84z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 158.84000000000003L924.3 560L1033.5 560L0 101.81000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/* Slug content grid column widths */
#slug-content-grid {
  @media screen and (max-width: 765px) {
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 766px) {
    grid-template-columns: 1fr 3fr;
  }
}
