* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1c1c;
  color: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

#hero {
  background-image: url(./assets/hero-background.jpg);
  background-position: -500px -500px;

  @media (min-width: 400px) {
    background-image: url(./assets/hero-background.jpg);
    background-position: -250px -500px;
  }

  @media (min-width: 700px) {
    background-image: url(./assets/hero-background.jpg);
    background-position: -50px -50px;
  }
}
