* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

#hero {
  background-image: url(./assets/hero-light-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
